.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess


.idea/workspace.xml
*.idea/workspace.xml
.idea/workspace.xml
.idea/*

*application/logs/*
application/logs/
.idea/vcs.xml
*.idea/vcs.xml

*images/*
.images/*
